/* Lizzie Canamar A01196463*/
* {
    box-sizing: border-box;
  }

body {
    background-image: linear-gradient(to right top, #5b2a86, #5e398f, #624796, #67549d, #6c61a4, #6273b4, #5884c0, #5295c9, #3eadd0, #4cc3cd, #74d6c3, #a5e6ba);
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
}
/* ------- Header ----- */
.header {
    background-color: #5B2A86;
    padding: 20px;
    padding-top: 30px;
    text-align: center;
}

.header > div > div{
    float: right;
}

/* Contact Info */
.horizontalnav {
    overflow: hidden;
    margin: 0;
  }

.horizontalnav a, .horizontalnav p {
    float: right;
    display: block;
    display: inline-block;
    text-align: center;
    padding: 5px;
    text-decoration: none;
  }

/* ----- Titles and text ---- */
h1 {
    color: white;
    font-size: 55px;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    clear: both;
    color:#A677DC;
    font-size: 34px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
    text-transform: uppercase;
}

h3 {
    clear: both;
    color: #4D3D5A;
    font-size: 24px;
    font-weight: bold;
    margin: 0px;
}

h4 {
    color: #986ABC;
    font-size: 18px;
    margin: 0px;
}

.whiteDecription{
    font-size: 16px;
    color: white;
}

.description {
    font-size: 16px;
    margin: 0px;
}

.timeRange {
    color: #AC65BF;
    font-size: 16px;
    margin: 0px;
}

/* ------ Structure of content ------ */

.leftColumn {
    float: left;
    width: 70%;
}

.rightColumn {
    float: left;
    width: 30%;
}

.card {
    background-color: white;
    padding: 20px;
    margin: 20px;
    overflow: hidden;
    box-shadow: 5px 10px #C5C2EE;
}

/* Clear floats, after columns */
.row:after{
    content: "";
    display: table;
	clear: both;
}

.bubble {
    border-radius: 20px;
    color:#AC65BF;;
    background-color: #F1F3FC;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

/* Stack columns on top of each other when resized */
@media screen and (max-width: 800px) {
    .leftColumn, .rightColumn {   
      width: 100%;
      padding: 0;
    }
  }